<launch>
        <!-- <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
                <arg name="port" value="9090"/>
        </include> -->
        <!-- <include file="$(find mynt_eye_ros_wrapper)/launch/mynteye.launch" > 
        </include> -->
        <node name="joy_node" pkg="joy" type="joy_node" output="screen" >
                <param name="/dev" value="/dev/input/js0" />
        </node>
        <node name="turtlesim_node" pkg="turtlesim" type="turtlesim_node" output="screen"></node>
        <node name="teleop_joy_node" pkg="joystick_learn" type="teleop_joy_node.py" output="screen"></node>
        <node name="autonomous_driver_node" pkg="joystick_learn" type="autonomous_driver_node.py" output="screen"></node>
        <node name="filter_node" pkg="joystick_learn" type="filter_node.py" output="screen"></node>
</launch>